<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Places - Discover NYC</title>
    <link rel="stylesheet" href="/all.css">
</head>
<body>
    <h1>Explore All Places in NYC</h1>
    <% for (let i = 0; i < nycPlaces.length; i++) { %>
    <div class="container">
        <div class="card" onclick="window.location.href='/place/<%=i%>'">
            <img src="<%= nycPlaces[i].imageURL %>" alt="<%=nycPlaces[i].name%>">
            <div class="card-content">
                <h2><%= nycPlaces[i].placeName%></h2>
                <p><strong>Username:</strong> <%= nycPlaces[i].username %></p>
                <p><strong>Location:</strong> <%= nycPlaces[i].location %></p>
                <a class="btn btn-primary" href="/place/<%=i%>" role="button"></a>
            </div>
        </div>
        
        
    </div>
    <% } %>
</body>
</html>
