<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover NYC</title>
    <link rel="stylesheet" href="/place.css">
    </head>

<body>
    <div class="container">
        <h1><%=placeName%></h1>
        <img src = "<%=imageURL%>" >
        <h4><%=location%></h4>
        <h5>Stores and Restaurants: <%=storesAndRestaurants%></h5>
        <p><%=description%></p>
        <% if(status == "Open") { %>
         <h4>Status: Yesss <%=placeName%> is currenly open read to visit!!!!</h4>
        <% }else{ %>
           <h4>Sorry: <%=placeName%> is currently closed come back tomorrow!!!!</h4>
        <% } %>
        
        
    </div>
</body>
</html>
